<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Comment</title>
</head>
<body>
	<table border="1">
			<tr>
				<th>ID</th>
				<th>投稿</th>
				<th>投稿日時</th>
			</tr>
			<tr>
				<td th:text="${content.id}"/>
				<td th:text="${content.content}" />
				<td th:text="${#dates.format(content.createdDate, 'yyyy/MM/dd HH:mm:ss')}">
			</tr>
	</table>
	<br>
	<form method="post" th:action="@{/comment/add/{id}(id=${content.id})}" th:object="${formModel}">
		<table border="1">
			<tr>
				<th>コメント内容</th>
			</tr>
			<tr>
				<td>
					<input type="text" name="comment" th:value="*{comment}"
						size="20" maxlength="200" />
				</td>
			</tr>
		</table>
		<input type="submit" value="コメント" />
	</form>
	<form action="/">
		<input type="submit" value="戻る" />
	</form>
	<br>
	<table border="1">
		<tr>
			<th>内容</th>
			<th>返信日時</th>
		</tr>
		<tr th:each="comment : ${comments}">
			<td th:text="${comment.comment}">
			<td th:text="${#dates.format(comment.createdDate, 'yyyy/MM/dd HH:mm:ss')}">
			<td>
				<form th:method="delete" th:action="@{/comment/delete/{id}(id=${comment.id})}">
					<input type="submit" value="削除" />
				</form>
			</td>
			<td>
				<a th:href="@{/comment/edit/{id}(id=${comment.id})}"><button type="button">編集</button></a>
			</td>
		</tr>
	</table>
</body>
</html>