<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TOP</title>
</head>
<body>
	<a href="/new"><button type="button">新規投稿</button> </a>

	<!-- 日付の検索欄を表示 -->
	<form method="get">
		日付
		<input type="date" name="start" th:value="${start}">
		～
		<input type="date" name="end" th:value="${end}">
		<input type="submit" value="絞込">
	</form>
	<table border="1">
		<tr>
			<th>ID</th>
			<th>内容</th>
			<th>投稿日時</th>
		</tr>
		<tr th:each="content : ${contents}">
			<td th:text="${content.id}">
			<td th:text="${content.content}">
			<td th:text="${#dates.format(content.createdDate, 'yyyy/MM/dd HH:mm:ss')}">
			<td>
				<form th:method="delete" th:action="@{/delete/{id}(id=${content.id})}">
					<input type="submit" value="削除" />
				</form>
			</td>
			<td>
				<a th:href="@{/edit/{id}(id=${content.id})}"><button type="button">編集</button></a>
			</td>
			<td>
				<form th:method="get" th:action="@{/comment/{id}(id=${content.id})}">
					<input type="submit" value="コメント">
				</form>
			</td>
		</tr>
	</table>
</body>
</html>